/*imports*/
@import 'compass';
@import "compass/css3/transition";
@import 'mixins';
@import 'variables';
@import 'plugins/BootSwatchr6';
@import 'plugins/combobox'; 
@import 'nyc-global';
// @import 'plugins/font-awesome.min';

html, body {
	min-height: 100%;
	height: 100%;
}

/* Tight tracking on all headings, per the NYC style */

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -.04rem;
	line-height: 1.15;
}

h1 {
	@include breakpoint(baby-bear) {
		font-size: 2.2rem;
	}
}

.wrapper {
	margin-bottom: calc(-#{$footer-height} - 2rem);
	min-height: 100%;
	max-width: calc(940px + #{$wrapper-pad});
	margin-left: auto;
	margin-right: auto;
	padding-left: $wrapper-pad;
	padding-right: $wrapper-pad;

	@include breakpoint(mama-bear) {
		max-width: 724px;
	}

	@include breakpoint(baby-bear) {
		padding-left: $wrapper-pad-mobile;
		padding-right: $wrapper-pad-mobile;
		margin-bottom: -$footer-height-mobile;
	}

	/* styling the form inputs. Note: this falls within the .wrapper class only to increase specificity */
	input, select, textarea {
		font-size: 1.2rem;
		line-height: 1.4;
		padding: .7rem;
		/* width: 100%;*/
		width: calc(100% - 1.4rem);
		display: block;
		@include box-sizing(content-box);

		&[type=text] {
			padding: 1rem .7rem;
		}
		/* styling IE fix, placeholder plug-in*/
		&.placeholder {
			color: $light-grey;
		}
	}
}

/* if one of these inputs is a child of the combobox... */
.wrapper .combobox-container {
	input {
		width: calc(100% - 4.7rem);
		display: inline-block;
	}
}

.navbar {
	padding: 2rem 0;

	.nav {
		float: right;
		clear: right;

		> li > a {
			padding: 10px 0px 10px 30px;

			@include breakpoint(baby-bear) {
				padding: 10px 0px 10px 0px;
			}
		}
	}

	.brand {
		padding: 0;
		margin: 0;
	}
}

.navbar-inner {
	background: none;
	border: 0;
	border-bottom: 1px solid black;
	box-shadow: none;
	padding: 0 0 1rem;
	@include border-radius(0);

	.login {
		float: right;
		margin: 0;
		background: $dark-grey;

		@include breakpoint(baby-bear) {
			width: 100%;
			padding: .7rem 0;
			margin: 1rem 0;
			@include border-radius(10px);
			font-size: 1.1rem;
		}

		p {
			margin: 0;

			a {
				color: #fff;
				text-shadow: none;
			}
		}
	}
}

#logo_nav {
	padding: 0;
	width: 13rem;	
}

/* tabs */
ul.nav.tabs {
	font-size: 16px;

	@include breakpoint(baby-bear) {
		font-size: 1.2rem;
		width: 100%;
		text-align: center;
	}

	li.active {
		border-bottom: 2px solid $nyc-blue;

		a {
			padding-bottom: 4px;
		}
	}
}

.wrapper {
	margin-bottom: calc(-#{$footer-height} - 2rem);
	min-height: 100%;
	max-width: calc(940px + #{$wrapper-pad});
	margin-left: auto;
	margin-right: auto;
	padding-left: $wrapper-pad;
	padding-right: $wrapper-pad;

	@include breakpoint(mama-bear) {
		max-width: 724px;
	}

	@include breakpoint(baby-bear) {
		padding-left: $wrapper-pad-mobile;
		padding-right: $wrapper-pad-mobile;
		margin-bottom: -$footer-height-mobile;
	}

	/* styling the form inputs. Note: this falls within the .wrapper class only to increase specificity */
	input, select, textarea {
		font-size: 1.2rem;
		line-height: 1.4;
		padding: .7rem;
		/* width: 100%;*/
		width: calc(100% - 1.4rem);

		&[type=text] {
			padding-top: 1.2rem;
			padding-bottom: 1.2rem;
		}
		/* styling IE fix, placeholder plug-in*/
		&.placeholder {
			color: $light-grey;
		}
	}
}


footer {
	background: #000;
	color: #fff;
	padding: 2rem 0 0;
	@include border-radius(0);
	width: 100%;
	height: $footer-height;
	// margin-top: calc(#{$wrapper-pad-bottom});

	@include breakpoint(baby-bear) {
		height: $footer-height-mobile;
	}

	li {
		font-size: 1.3rem;
		line-height: 1.3;
		border-bottom: 1px solid #fff;
		list-style-type: none;
		padding: 1rem 0;

		a {
			&:link, &:active, &:visited {
				color: #fff;
			}

			&:hover {
				text-decoration: none;
				color: $light-grey;
			}
		}
	}
}

.push {
	height: calc(#{$footer-height} + 2rem);
	margin-bottom: 0px;

	@include breakpoint(baby-bear) {
		height: $footer-height-mobile;
	}
}

/* Targeting the intro text block on the homepage */

.intro p {
	font-size: 1.2rem;
	line-height: 1.4;
	margin: 0 0 1rem;
}

/* this hides step2 in the new request form, but it will also prevent non-JS users from viewing the form. Need to come back to this. */
.step {
	display: none;

	/* if the user doesn't have js enabled this will display both steps together. */
	.no-js & {
		display: block; 
	}
}

.form-nav {
	background: $off-white;
	width: 100%;
	float: left;
	display: block;
	margin: 1.2rem auto 4rem;
	border: 2px solid $light-grey;
	overflow: hidden;
	@include border-radius(20px);
	@include transition(.5s all ease);

	> div {
		width: 50%;
		float: left;
		text-align: center;
		color: $dark-grey;

		a {
			cursor: pointer;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.active {
		background: $nyc-blue;
		color: #fff;

		a:hover {
			color: $off-white;
		}
	}
}

#back {
	float: left;
	padding-right: 1rem;
	margin: 0;
	color: $light-grey;

	.fa, p {
		display: inline;
		font-size: 1.2rem;
		cursor: pointer;
		text-decoration: none;
	}
}

/* if the user doesn't have js enabled remove the two step process */
.no-js {

	#button1 {
		display: none;
	} 

	.form-nav {
		display: none;
	}

	#back {
		display: none;
	}
}

/* This is defined in the bootstrap style, but we can tweak it here */
.btn-primary {
	background: $nyc-blue;
	margin: 1rem 0 2rem;
	max-width: 25rem;
	padding: 1rem 1.5rem;
	font-size: 1.2rem;
	@include transition(.3s all ease);

	&:hover {
		background: $light-blue;
	}
}

/* This is the class to be applied to sidebar boxes */
.sideblock {
	background: $off-white;
	padding: 1rem 1.5rem;
	margin: 0 auto 2rem;
}


.clearfix {
	clear: both;
}



