<!-- history -->
<div>
    <a data-placement="left" data-toggle="popover" href="#" class="historyPopover hidden-phone hidden-tablet"><i
            class="icon-time"></i> History</a>
</div>
<div id="historyPopover-head" class="hide">Routing history</div>
<div id="historyPopover-content" class="hide">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th>Date</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        <!-- the order of data returned here should be reverse chronological (right now it's shown as oldest first)-->
        {% for owner in req.owners %}
            {% set alias =  "alias" | get_attribute(owner.user_id, "User") %}
            <tr>
                <td>{{ alias }}</td>
                <td><i class="icon-plus-sign"></i></td>
                <td>{{ owner.date_updated | date }}</td>
                <td>{{ owner.reason or "N/A" }}</td>
            </tr>
            {% if not owner.active %}
                <tr>
                    <td>{{ alias }}</td>
                    <td><i class="icon-remove-sign"></i></td>
                    <td>{{ owner.date_updated | date }}</td>
                    <td>{{ owner.reason_unassigned or "Unassigned" }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
