{% extends "base.html" %}
{% block title %}OpenRecords - Actions{% endblock %}
{% block head %} {% endblock head %}
{% block body %}
    <p>These are the actions you can take on this site. They may change.</p> </br>
    {% for action in actions %}
        <p> {{ action }} </p>
    {% endfor %}

{% endblock body %}