{#
This template provides the header, footer, and envelope info for all pages except signup.
#}<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/plugins/html5.js') }}"></script>
    <![endif]-->

    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='style/css/screen.css') }}">

    <!--[if lte IE 9]>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='style/css/ie.css') }}">
    <![endif]-->

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='images/favicon-32x32.png') }}"/>
        {% block custom_css_links %}

    {% endblock custom_css_links %}

    <!-- modernizr -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/modernizr-latest-min.js') }}"></script>

    <!-- auth_script requires jquery and Mozilla's 'include.js' shim -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/include.js') }}"></script>

    <!-- IE8 polyfill for CSS3 pseudo classes like :hover -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/jquery-1.11.1.min.js') }}"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/selectivizr-min.js') }}"></script>
    <noscript>
        <link rel="stylesheet" href="[fallback css]"/>
    </noscript>
    <![endif]-->


    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- transform and other prefixes polyfill -->
    <script src="{{ url_for('static', filename='js/plugins/jquery.css3finalize.min.js') }}"></script>

    <!-- REM unit polyfill -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/plugins/rem.min.js') }}"></script>

    <script type='text/javascript'
            src="{{ url_for('static', filename='js/plugins/d3.v3.min.js') }}"
            charset="utf-8"></script>

</head>

<body>
{% if current_user.is_authenticated %}
    {% set navigation_bar = [

        ('/new', 'new', 'Request a Record'),
        ('/view_requests','view_requests','View Requests'),
        ('/track','track','Track an Existing Record'),
        ('/report','report','Report'),
        ('/city/tutorial/01','tutorial','Tutorial'),
        ('/faq','faq','FAQ'),
        ('/about','about','About'),
    ] -%}
{% else %}
    {% set navigation_bar = [

        ('/new', 'new', 'Request a Record'),
        ('/view_requests','view_requests','View Requests'),
        ('/track','track','Track an Existing Record'),
        ('/report','report','Report'),
        ('/faq','faq','FAQ'),
        ('/about','about','About'),
    ] -%}
{% endif %}


{% if current_user.is_authenticated %}
    {% set active_page = active_page|default('view_requests') -%}
{% else %}
    {% set active_page=active_page|default('') -%}
{% endif %}
<div class="agency-header">
    <div class="upper-header-black">
        <div class="container">
          <span class="upper-header-left">
            <a href="http://{{ config['NYC_GOV_BASE'] }}"><img
                    src="http://{{ config['NYC_GOV_BASE'] }}/assets/home/images/global/nyc_white.png"
                    alt="NYC" class="small-nyc-logo"/></a>
            <img src="http://{{ config['NYC_GOV_BASE'] }}/assets/home/images/global/upper-header-divider.gif"
                 alt=""/>
            <span class="upper-header-black-title">OpenRecords</span>
          </span>
            <span class="upper-header-padding"></span>
          <span class="upper-header-right">
            <span class="upper-header-three-one-one">
              <a href="http://{{ config['NYC_GOV_BASE'] }}/311/index.page">311</a>
            </span>
            <img src="http://{{ config['NYC_GOV_BASE'] }}/assets/home/images/global/upper-header-divider.gif"
                 alt=""/>
            <span class="upper-header-search">
              <a href="http://{{ config['NYC_GOV_BASE'] }}/home/search/index.page">Search all
                  NYC.gov websites</a>
            </span>
          </span>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="navbar">
        <div class="navbar-inner">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse"
               data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><img id="logo_nav"
                                           src="{{ url_for('static', filename='images/logo.png') }}"
                                           alt="{{ config['AGENCY_NAME'] }} logo"/></a>

            <div class="nav-collapse navbar-responsive-collapse collapse"
                 style="height: 0px;">
                {% if current_user.is_authenticated %}
                <div class="google_translate btn">
                    <p><a href="/logout">Logout</a></p>
                </div>
                {#                    loops through the navigation_bar container for the label and definition of each tab#}
                <ul class="nav nav-pills" >
                    {% for href, id, caption in navigation_bar %}
                      <li{% if id == active_page %} class="active openrecords_nav"{% endif%}>
                      <a class="openrecords_nav" href="{{ href|e }}">{{ caption|e }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="nav pull-right">
                </ul>
                {% else %}
                <div class="google_translate">
                    <div id="google_translate_element"></div>
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({
                                pageLanguage: 'en',
                                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                            }, 'google_translate_element');
                        }
                    </script>
                    <script type="text/javascript"
                            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
                    </script>
                </div>
                <ul class="nav nav-pills" >
                    {% for href, id, caption in navigation_bar %}
                      <li{% if id == active_page %} class="active openrecords_nav"{% endif%}>
                      <a class="openrecords_nav" href="{{ href|e }}">{{ caption|e }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="nav pull-right">
                </ul>
            {% endif %}
        </div>
    </div>
</div>
<div id="container-fluid">
    {% block container %}
    <div class="row-fluid">
        <div class="span10">
            {% block banner %}

            {% endblock banner %}
        </div>
    </div>

    {% endblock container %}
</div>
<div class="push"></div>
</div>
<!-- // Wrapper -->
<div class="iw_component" id="1422284559235">
    <div class="row">
        <footer>
            <div class="container">
                <div class="span9 footer-links">
                    <a href="http://{{ config['NYC_GOV_BASE'] }}/nyc-resources/agencies.page">Directory
                        of City Agencies</a>
                    <a href="http://{{ config['NYC_GOV_BASE'] }}/home/contact-us.page">Contact
                        NYC Government</a>
                    <a href="https://a127-ess.nyc.gov">City Employees</a>
                    <a href="http://www.nyc.gov/notifynyc">Notify NYC</a>
                    <a href="http://a856-citystore.nyc.gov/">CityStore</a>
                    <a href="http://{{ config['NYC_GOV_BASE'] }}/connect/social-media.page">Stay
                        Connected</a>
                    <a href="http://{{ config['NYC_GOV_BASE'] }}/connect/applications.page">NYC
                        Mobile Apps</a>
                    <a href="http://{{ config['NYC_GOV_BASE'] }}/nyc-resources/nyc-maps.page">Maps</a>
                    <a href="http://{{ config['NYC_GOV_BASE'] }}/nyc-resources/resident-toolkit.page">Resident
                        Toolkit</a>
                </div>
                <div class="span3">
                    <span class="logo-nyc">NYC</span>

                    <form class="form-search" method="get"
                          action="http://{{ config['NYC_GOV_BASE'] }}/home/search/index.page">
                        <input placeholder="Search"
                               class="input-search placeholder"
                               name="search-terms" type="text"/>
                        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                        <button class="ico-search">Search</button>
                    </form>
                    <div class="copyright">
                        <p>City of New York. 2015 All Rights Reserved,</p>

                        <p>NYC is a trademark and service mark of the City of
                            New York</p>

                        <p>
                            <a href="http://{{ config['NYC_GOV_BASE'] }}/home/privacy-policy.page"
                               title="Privacy">Privacy Policy</a>.
                            <a href="http://{{ config['NYC_GOV_BASE'] }}/home/terms-of-use.page"
                               title="TOU">Terms of Use</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type="text/javascript"
        src="{{ url_for('static', filename='js/plugins/jquery.placeholder.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/plugins/jquery.validate.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/plugins/bootstrap.js') }}"></script>

{% block custom_script_links %}
{% endblock custom_script_links %}
<form method=post action="">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
</body>
</html>
