<!-- This template is to initiate a new request. -->
{% extends "base.html" %}
{% set active_page="new" %}
{% from 'help_text.html' import help %}
{% block title %}OpenRecords - Public records{% endblock title%}
{% block custom_css_links %}
<!-- used for the extension and close request multi-select boxes in city view -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-select.css') }}">
<!-- used for department dropdown -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/jquery-ui-1.10.4.custom.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/jquery-ui.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-combobox.css') }}"
      media="screen">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sidebar.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/new_request.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstrap-fileupload.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/case.css') }}">
{% endblock custom_css_links %}
{% block container %}
<div class="row-fluid">
    <div class="span11 offset1">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                </div>
                <div class="row-fluid">
                    <div class="span10">
                        <h1>Request a Record</h1>

                        <p>Please make your request specific so you receive the fastest service. After you submit a FOIL
                            request you will receive a confirmation number so you can track the status of the response.
                            The agency will notify you about how much time is required to
                            respond to your request.</p>
                    </div>
                    {% if 'duplicate_request' in errors %}
                    <div class="alert alert-danger" id="duplicate_request">
                        Whoops! Looks like your request is the same as <a href="/city/request/{{ errors['duplicate_request'] }}">{{ errors['duplicate_request'] }}</a>
                    </div>
                    {% endif %}

                    <div class="row-fluid">
                        <div class="span10">
                            <form name="newrequest" class="form-horizontal" id="submitRequest" method="post"
                                  action="/new" autocomplete="off" novalidate="novalidate"
                                  enctype="multipart/form-data">
                                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                                <fieldset>
                                    <div class="control-group">
                                        <h2>
                                            <small>Request Title*</small>
                                        </h2>
                                        {% if 'missing_summary' in errors %}
                                        <div class="alert alert-danger" id="missing_summary">
                                            {{ errors['missing_summary'] }}
                                        </div>
                                        {% elif 'summary_length' in errors %}
                                        <div class="alert alert-danger" id="summary_length">
                                            {{ errors['summary_length'] }}
                                        </div>
                                        {% endif %}
                                        {{ form.request_summary(class="input-block-level", rows="2",
                                        id="request_summary", placeholder="Please provide a short summary of your request" ) }}
                                    </div>
                                    <div class="control-group">
                                        <h2>
                                            <small>Request*</small>
                                        </h2>
                                        {% if 'missing_description' in errors %}
                                        <div class="alert alert-danger" id="missing_description">
                                            {{ errors['missing_summary'] }}
                                        </div>
                                        {% elif 'description_length' in errors %}
                                        <div class="alert alert-danger" id="description_length">
                                            {{ errors['summary_length'] }}
                                        </div>
                                        {% endif %}
                                        {{
                                        form.request_text(class="input-block-level",rows="6",id="request_text",
                                        placeholder="Provide more information about your request to help the City locate the record. If don’t know the record name, describe type of information you think it would contain and the approximate date range. Do not include private info – such as social security # or credit card." ) }}
                                    </div>
                                    <h2>Private Information</h2>

                                    <h1>
                                        <small>Receipt Information</small>
                                    </h1>
                                    <div class="control-group">
                                        {% if 'missing_format' in errors %}
                                        <div class=" alert alert-danger" id="missing_format">
                                            {{ errors['missing_format']}}
                                        </div>
                                        {% endif %}
                                        {{ form.request_format.label.text }}
                                        <div class="spacer">
                                            {{ form.request_format(class="input-block-level", id="request_format") }}
                                        </div>
                                        {% if 'invalid_date' in errors %}
                                        <div class=" alert alert-danger" id="missing_date">
                                            {{ errors['invalid_date'] }}
                                        </div>
                                        {% endif %}
                                        {{ form.request_date.label.text }}
                                        <div class="spacer">
                                            {{ form.request_date(class ="input-block-level", id="request_date") }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <h1>
                                            <small>Attach documentation</small>
                                        </h1>
                                        {% if 'missing_attachment_description' in errors %}
                                        <div class=" alert alert-danger"
                                             id="missing_attachment_description">
                                            {{ errors['missing_attachment_description'] }}
                                        </div>
                                        {% endif %}
                                        {{ form.request_attachment_description(rows="3", class="input-block-level",
                                        placeholder="Add a short explanation of the record")}}
                                        {% if 'missing_attachment' in errors %}
                                        <div class=" alert alert-danger" id="missing_attachment">
                                            {{ errors['missing_attachment'] }}
                                        </div>
                                        {% endif %}
                                        {{ form.request_attachment(class="fileupload fileupload-new", method="post",
                                        dataprovides="fileupload")}}

                                    </div>
                                    <h2>
                                        <h2>
                                            <lead>Personal Information</lead>
                                        </h2>
                                        <p>This information will not be publicly viewable on this site. You must provide
                                            contact information so that the agency can respond to your request for
                                            records.</p>

                                        <div class="row-fluid">
                                            <div class="control-group span6">
                                                <h2>
                                                    <small>{{ form.request_first_name.label.text }}</small>
                                                </h2>
                                                {% if 'missing_first_name' in errors %}
                                                <div class="alert alert-danger" id="missing_first_name">
                                                    {{ errors['missing_first_name'] }}
                                                </div>
                                                {% endif %}
                                                {{ form.request_first_name(id="request_first_name",
                                                class="input-block-level", type="text", placeholder="John") }}
                                            </div>
                                            <div class="control-group span6">
                                                <h2>
                                                    <small>{{ form.request_last_name.label.text }}</small>
                                                </h2>
                                                {% if 'missing_last_name' in errors %}
                                                <div class="alert alert-danger" id="missing_last_name">
                                                    {{ errors['missing_last_name'] }}
                                                </div>
                                                {% endif %}
                                                {{ form.request_last_name(id="request_last_name",
                                                class="input-block-level", type="text", placeholder="Doe") }}
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <h2>
                                                <small>{{ form.request_role.label.text }}</small>
                                            </h2>
                                            {{ form.request_role( class="input-block-level", type="text",
                                            placeholder="Your role in your organization (if applicable)" ) }}
                                        </div>
                                        <div class="control-group">
                                            <h2>
                                                <small>{{ form.request_organization.label.text }}</small>
                                            </h2>
                                            {{ form.request_organization(class="input-block-level", type="text",
                                            placeholder="Your organization (if applicable)") }}
                                        </div>
                                        <h2>
                                            <lead>Contact Information</lead>
                                        </h2>
                                        {% if 'missing_contact_info' in errors %}
                                        <div class="alert alert-danger" id="missing_contact_information">
                                            {{ errors['missing_contact_info'] }}
                                        </div>
                                        {% endif %}
                                        <p>No information entered in this section will be visibile to the public.
                                            <em>Please Note: At least one method of communication is required</em>
                                        </p>

                                        <div class="control-group">
                                            <h2>
                                                <small>{{ form.request_email.label.text }}</small>
                                            </h2>
                                            {{ form.request_email(class="input-block-level" , type="email" ,
                                            placeholder="requester@email.com") }}
                                            <h2>
                                                <small>{{ form.request_phone.label.text }}</small>
                                            </h2>
                                            {{ form.request_phone(class="input-block-level", type="tel",
                                            placeholder="(555) 555-5555")}}
                                            <h2>
                                                <small>{{ form.request_fax.label.text }}</small>
                                            </h2>
                                            {{form.request_fax(class="input-block-level", type="tel", placeholder="(555)
                                            555-5555")}}
                                            <h2>
                                                <small>Address</small>
                                            </h2>
                                            <small>{{ form.request_address_street_one.label.text }}</small>
                                            {{form.request_address_street_one(class="input-block-level", type="text",
                                            placeholder="123 Main Street")}}
                                            <small>{{ form.request_address_street_two.label.text }}</small>
                                            {{form.request_address_street_two(class="input-block-level", type="text",
                                            placeholder="Apartment 3D")}}
                                            <div class="row-fluid">
                                                <div class="span5">
                                                    <small>{{ form.request_address_city.label.text }}</small>
                                                    <div class="spacer">
                                                        {{ form.request_address_city(class="input-block-level",
                                                        type="text", placeholder="New York")}}
                                                    </div>
                                                </div>
                                                <div class="span4">
                                                    <small>{{ form.request_address_state.label.text }}</small>
                                                    <div class="spacer">
                                                        {{ form.request_address_state(class="input-block-level
                                                        combobox") }}
                                                    </div>
                                                </div>
                                                <div class="span3">
                                                    <small>{{ form.request_address_zip.label.text }}</small>
                                                    <div class="spacer">
                                                        {{form.request_address_zip(class="input-block-level",type="text",
                                                        placeholder="12345")}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="requestButton" class="spacer">
                                            <button id="button2" title="submit_request_button"
                                                    class="btn btn-primary btn-large input-block-level">
                                                Submit request
                                            </button>
                                        </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock container %}
{% block custom_script_links %}
<!-- used for department dropdown -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/plugins/bootstrap-combobox.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/plugins/jquery-ui-1.10.4.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/new_request.js') }}"></script>
{% if date %}
<script type="text/javascript">
    $(document).ready(function () {
        $("input[id^='request_date']").datepicker();
        $("input[id^='request_date']").val("{{ date }}");
    });
</script>
{% else %}
<script type="text/javascript">
    $(document).ready(function () {
        $("input[id^='request_date']").datepicker();
        $("input[id^='request_date']").val('');
    });
</script>
{% endif %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.combobox').combobox();
    });
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/newrequestform.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validate.js') }}"></script>
<!-- For file uploads -->
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-fileupload.js') }}"></script>
{% endblock custom_script_links %}
