<!-- This template is to initiate a new request. -->
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public records</title>
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
      <script src="/static/js/plugins/html5.js"></script>
    <![endif]-->

    <link rel=stylesheet type=text/css href="/static/style/css/screen.css">

    <!--[if lte IE 9]>
    <link rel=stylesheet type=text/css href="/static/style/css/ie.css">
    <![endif]-->

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32"
          href="/static/images/favicon-32x32.png"/>

    
<!-- used for the extension and close request multi-select boxes in city view -->
<link rel=stylesheet type=text/css href="/static/css/plugins/bootstrap-select.css">
<!-- used for department dropdown -->
<link rel=stylesheet type=text/css href="/static/css/plugins/jquery-ui-1.10.4.custom.css">
<link rel=stylesheet type=text/css href="/static/css/plugins/jquery-ui.css">
<link rel=stylesheet type=text/css href="/static/css/plugins/bootstrap-combobox.css"media="screen">
<link rel=stylesheet type=text/css href="/static/css/sidebar.css">
<link rel=stylesheet type=text/css href="/static/css/new_request.css">
<link rel=stylesheet type=text/css href="/static/css/plugins/bootstrap-fileupload.css">
<link rel=stylesheet type=text/css href="/static/css/case.css">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstro.css') }}">
    <link rel=stylesheet type=text/css href="/static/css/plugins/BootSwatchr6.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/DT_bootstrap.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/font-awesome.min.css">
		
    <!-- modernizr -->
    <script type="text/javascript"
            src="/static/js/plugins/modernizr-latest-min.js"></script>

    <!-- auth_script requires jquery and Mozilla's 'include.js' shim -->
    <script type="text/javascript" src="/static/js/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/include.js"></script>
    <script type="text/javascript"></script>

    <!-- IE8 polyfill for CSS3 pseudo classes like :hover -->
    <script type="text/javascript" src="/static/js/plugins/jquery-1.11.1.min.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script type="text/javascript" src="/static/js/plugins/selectivizr-min.js"></script>
      <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
    <![endif]-->

    <!-- transform and other prefixes polyfill -->
    <script src="/static/js/plugins/jquery.css3finalize.min.js"></script>

    <!-- REM unit polyfill -->
    <script type="text/javascript" src="/static/js/plugins/rem.min.js"></script>

    <script type='text/javascript' src="/static/js/plugins/d3.v3.min.js"
            charset="utf-8"></script>

</head>

<body>
<div class="agency-header">
    <div class="upper-header-black">
        <div class="container">
          <span class="upper-header-left">
            <a href="http://www1.nyc.gov"><img src="http://www1.nyc.gov/assets/home/images/global/nyc_white.png"
                                               alt="NYC" class="small-nyc-logo"/></a>
            <img src="http://www1.nyc.gov/assets/home/images/global/upper-header-divider.gif" alt=""/>
            <span class="upper-header-black-title">OpenRecords</span>
          </span>
            <span class="upper-header-padding"></span>
          <span class="upper-header-right">
            <span class="upper-header-three-one-one">
              <a href="http://www1.nyc.gov/311/index.page">311</a>
            </span>
            <img src="http://www1.nyc.gov/assets/home/images/global/upper-header-divider.gif" alt=""/>
            <span class="upper-header-search">
              <a href="http://www1.nyc.gov/home/search/index.page">Search all NYC.gov websites</a>
            </span>
          </span>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="navbar">
        <div class="navbar-inner">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><img id="logo_nav"
                                           src="/static/images/logo.png"
                                           alt="Your agency name logo"/></a>

            <div class="nav-collapse navbar-responsive-collapse collapse" style="height: 0px;">
                
                    <div class="google_translate btn">
                        <p><a href="/logout">Logout</a></p>
                    </div>
                    <ul class="nav tabs">
                        <li><a href="/new">Request a Record</a></li>
                        <li><a href="/view_requests">All Requests</a></li>
                        <li><a href="/track">Track an Existing Request</a></li>
                        <li><a href="/report">Report</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                    <ul class="nav pull-right">
                    </ul>
                
            </div>
        </div>
    </div>
    <div id="container-fluid">
        
<div class="row-fluid">
    <div class="span11 offset1">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span8">
                        
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span10">
                        <h3>Create a New Request</h3>
                        <p class="intro_text">
                            Use this page to request public records that you received by phone, fax, mail, email, or in person on behalf of a resident.
                        </p>
                        <br/>
                        <form name="input" class="form-horizontal" id="submitRequest" method="post" action="/new" autocomplete="off" novalidate="novalidate" enctype="multipart/form-data">
                            <h2>Public Information</h2>
                            <fieldset>
                                <div class="control-group">
                                    <h1><small>Request Title<small></h1>
                                    <textarea class="input-block-level" id="request_summary" name="request_summary" placeholder="Please provide a title for this request"></textarea>
                                    
                                </div>
                                <div class="control-group">
                                    <h1><small>Request Description</small></h1>
                                    <div>
                                        <textarea class="input-block-level" id="request_text" name="request_text" placeholder="Describe the request. Be as specific as possible." rows="5"></textarea>
                                        
                                    </div>
                                </div>
                                <hr>
                                <h2>Private Information</h2>
                                <h1><small>Receipt Information</small></h1>
                                <div class="control-group">
                                    Format Received*
                                    <div class="spacer">
                                        <select class="input-block-level" id="request_format" name="request_format"><option selected value=""></option><option value="Fax">Fax</option><option value="Phone">Phone</option><option value="Email">Email</option><option value="Mail">Mail</option><option value="In-Person">In-Person</option><option value="Text Message">Text Message</option><option value="311">311</option></select>
                                    </div>
                                    Request Date*
                                    <div class="spacer">
                                        <input class="input-block-level" id="request_date" name="request_date" type="text" value="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <h1><small>Attach documentation</small></h1>
                                    <textarea class="input-block-level" id="request_attachment_description" name="request_attachment_description" placeholder="Add a short explanation of the record" rows="3"></textarea>
                                    <input class="fileupload fileupload-new" dataprovides="fileupload" id="request_attachment" method="post" name="request_attachment" type="file">

                                </div>
                                <h2>
                                <lead>Personal Information</lead>
                                </h2>
                                <p>Your name and contact information will not be posted to this site. This information
                                    is required and will be shared only with a City Agency and only for the purpose of
                                fulfilling your request. You must provide at least one way to reach you.</p>
                                <div class="row-fluid">
                                    <div class="control-group span6">
                                        <h2>
                                        <small>First Name*</small>
                                        </h2>
                                        <input class="input-block-level" id="request_first_name" name="request_first_name" placeholder="John" type="text" value="">
                                    </div>
                                    <div class="control-group span6">
                                        <h2>
                                        <small>Last Name*</small>
                                        </h2>
                                        <input class="input-block-level" id="request_last_name" name="request_last_name" placeholder="Doe" type="text" value="">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <h2>
                                    <small>Role/Title</small>
                                    </h2>
                                    <input class="input-block-level" id="request_role" name="request_role" placeholder="Your role in your organization (if applicable)" type="text" value="">
                                </div>
                                <div class="control-group">
                                    <h2>
                                    <small>Organization</small>
                                    </h2>
                                    <input class="input-block-level" id="request_organization" name="request_organization" placeholder="Your organization (if applicable)" type="text" value="">
                                </div>
                                <h2>
                                <lead>Contact Information</lead>
                                </h2>
                                <p>No information entered in this section will be visibile to the public. <em>Please
                                Note: At least one method of communication is required</em></p>
                                <div class="control-group">
                                    <h2>
                                    <small>Email</small>
                                    </h2>
                                    <input class="input-block-level" id="request_email" name="request_email" placeholder="requester@email.com" type="email" value="">
                                    <h2>
                                    <small>Phone Number</small>
                                    </h2>
                                    <input class="input-block-level" id="request_phone" name="request_phone" placeholder="(555) 555-5555" type="tel" value="">
                                    <h2>
                                    <small>Fax Number</small>
                                    </h2>
                                    <input class="input-block-level" id="request_fax" name="request_fax" placeholder="(555) 555-5555" type="tel" value="">
                                    <h2>
                                    <small>Address</small>
                                    </h2>
                                    <small>Address Line 1</small>
                                    <input class="input-block-level" id="request_address_street_one" name="request_address_street_one" placeholder="123 Main Street" type="text" value="">
                                    <small>Address Line 2</small>
                                    <input class="input-block-level" id="request_address_street_two" name="request_address_street_two" placeholder="Apartment 3D" type="text" value="">
                                    <div class="row-fluid">
                                        <div class="span5">
                                            <small>City</small>
                                            <div class="spacer">
                                                <input class="input-block-level" id="request_address_city" name="request_address_city" placeholder="New York" type="text" value="">
                                            </div>
                                        </div>
                                        <div class="span4">
                                            <small>State</small>
                                            <div class="spacer">
                                                <select class="input-block-level combobox" id="request_address_state" name="request_address_state"><option value=""></option><option value="AL">Alabama</option><option value="AK">Alaska</option><option value="AZ">Arizona</option><option value="AR">Arkansas</option><option value="CA">California</option><option value="CO">Colorado</option><option value="CT">Connecticut</option><option value="DE">Delaware</option><option value="DC">District Of Columbia</option><option value="FL">Florida</option><option value="GA">Georgia</option><option value="HI">Hawaii</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="IA">Iowa</option><option value="KS">Kansas</option><option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="ME">Maine</option><option value="MD">Maryland</option><option value="MA">Massachusetts</option><option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MS">Mississippi</option><option value="MO">Missouri</option><option value="MT">Montana</option><option value="NE">Nebraska</option><option value="NV">Nevada</option><option value="NH">New Hampshire</option><option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option selected value="NY">New York</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option><option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option><option value="VT">Vermont</option><option value="VA">Virginia</option><option value="WA">Washington</option><option value="WV">West Virginia</option><option value="WI">Wisconsin</option><option value="WY">Wyoming</option></select>
                                            </div>
                                        </div>
                                        <div class="span3">
                                            <small>Zip Code</small>
                                            <div class="spacer">
                                                <input class="input-block-level" id="request_address_zip" name="request_address_zip" placeholder="12345" type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="requestButton" class="control-group">
                                    <div>
                                        <button type="submit" title="submit_request_button" class="btn btn-primary btn-large input-block-level">Submit request</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
    <div class="push"></div>
</div>
<!-- // Wrapper -->
<div class="iw_component" id="1422284559235">
    <div class="row">
        <footer>
            <div class="container">
                <div class="span9 footer-links">
                    <a href="http://www1.nyc.gov/nyc-resources/agencies.page">Directory of City Agencies</a>
                    <a href="http://www1.nyc.gov/home/contact-us.page">Contact NYC Government</a>
                    <a href="https://a127-ess.nyc.gov">City Employees</a>
                    <a href="http://www.nyc.gov/notifynyc">Notify NYC</a>
                    <a href="http://a856-citystore.nyc.gov/">CityStore</a>
                    <a href="http://www1.nyc.gov/connect/social-media.page">Stay Connected</a>
                    <a href="http://www1.nyc.gov/connect/applications.page">NYC Mobile Apps</a>
                    <a href="http://www1.nyc.gov/nyc-resources/nyc-maps.page">Maps</a>
                    <a href="http://www1.nyc.gov/nyc-resources/resident-toolkit.page">Resident Toolkit</a>
                </div>
                <div class="span3">
                    <span class="logo-nyc">NYC</span>

                    <form class="form-search" method="get" action="http://www1.nyc.gov/home/search/index.page">
                        <input placeholder="Search" class="input-search placeholder" name="search-terms" type="text"/>
                        <button class="ico-search">Search</button>
                    </form>
                    <div class="copyright">
                        <p>City of New York. 2015 All Rights Reserved,</p>

                        <p>NYC is a trademark and service mark of the City of New York</p>

                        <p><a href="http://www1.nyc.gov/home/privacy-policy.page" title="Privacy">Privacy Policy</a>.
                            <a href="http://www1.nyc.gov/home/terms-of-use.page" title="TOU">Terms of Use</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type="text/javascript" src="/static/js/plugins/jquery.placeholder.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/plugins/bootstrap.js"></script>


<!-- used for department dropdown -->
<script type="text/javascript" src="/static/js/plugins/bootstrap-combobox.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery-ui-1.10.4.custom.min.js"></script>
<script type="text/javascript" src="/static/js/new_request.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
    $("input[id^='request_date']").datepicker();
    $("input[id^='request_date']").val('');
    });
    </script>

<script type="text/javascript">
$(document).ready(function() {
$('.combobox').combobox();
});
</script>
<!-- For file uploads -->
<script type="text/javascript" src="/static/js/plugins/bootstrap-fileupload.js"></script>

<!-- For file uploads -->
<script type="text/javascript" src="/static/js/plugins/bootstrap-fileupload.js"></script>

<!-- used for the tutorial -->
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstro.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/custom.bootstro.js') }}"></script>

<script>
$(document).ready(function(){
    bootstro.start('',{stopOnBackdropClick : false, stopOnEsc:false, items:
       [{selector:'#requestButton',title:'Submit Request',content:'<font style="font-size:14px;">The agency user then clicks the Submit request button.</font>',placement:'top',finishButton:'<a class="btn" href="/city/tutorial/25"> «Previous</a><br><br><a class="btn" href="/">Back to OpenRecords site</a>'}
       ]
    });
});
</script>
</body>
</html>