<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
     &#45; OpenRecords
</title>
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
      <script src="/static/js/plugins/html5.js"></script>
    <![endif]-->

    <link rel=stylesheet type=text/css href="/static/style/css/screen.css">

    <!--[if lte IE 9]>
    <link rel=stylesheet type=text/css href="/static/style/css/ie.css">
    <![endif]-->

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32"
          href="/static/images/favicon-32x32.png"/>


    <link rel=stylesheet type=text/css href="/static/css/all_requests.css">
    <link rel=stylesheet type=text/css href="/static/css/all_requests_noresults.css">
    <link rel=stylesheet type=text/css href="/static/css/sidebar.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/bootstrap-select.css">
    <link rel=stylesheet type=text/css
          href="/static/css/plugins/jquery-ui-1.10.4.custom.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/jquery-ui.css">
    <style type=text/css>
        .clickable-row {
            cursor: pointer;
        }

    </style>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/plugins/bootstro.css') }}">
    <link rel=stylesheet type=text/css href="/static/css/plugins/BootSwatchr6.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/DT_bootstrap.css">
    <link rel=stylesheet type=text/css href="/static/css/plugins/font-awesome.min.css">

    <!-- modernizr -->
    <script type="text/javascript"
            src="/static/js/plugins/modernizr-latest-min.js"></script>

    <!-- auth_script requires jquery and Mozilla's 'include.js' shim -->
    <script type="text/javascript" src="/static/js/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/include.js"></script>
    <script type="text/javascript"></script>

    <!-- IE8 polyfill for CSS3 pseudo classes like :hover -->
    <script type="text/javascript" src="/static/js/plugins/jquery-1.11.1.min.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script type="text/javascript" src="/static/js/plugins/selectivizr-min.js"></script>
      <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
    <![endif]-->

    <!-- transform and other prefixes polyfill -->
    <script src="/static/js/plugins/jquery.css3finalize.min.js"></script>

    <!-- REM unit polyfill -->
    <script type="text/javascript" src="/static/js/plugins/rem.min.js"></script>

    <script type='text/javascript' src="/static/js/plugins/d3.v3.min.js"
            charset="utf-8"></script>

</head>

<body>
<div class="agency-header">
    <div class="upper-header-black">
        <div class="container">
          <span class="upper-header-left">
            <a href="http://www1.nyc.gov"><img src="http://www1.nyc.gov/assets/home/images/global/nyc_white.png"
                                               alt="NYC" class="small-nyc-logo"/></a>
            <img src="http://www1.nyc.gov/assets/home/images/global/upper-header-divider.gif" alt=""/>
            <span class="upper-header-black-title">OpenRecords</span>
          </span>
            <span class="upper-header-padding"></span>
          <span class="upper-header-right">
            <span class="upper-header-three-one-one">
              <a href="http://www1.nyc.gov/311/index.page">311</a>
            </span>
            <img src="http://www1.nyc.gov/assets/home/images/global/upper-header-divider.gif" alt=""/>
            <span class="upper-header-search">
              <a href="http://www1.nyc.gov/home/search/index.page">Search all NYC.gov websites</a>
            </span>
          </span>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="navbar">
        <div class="navbar-inner">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><img id="logo_nav"
                                           src="/static/images/logo.png"
                                           alt="Your agency name logo"/></a>

            <div class="nav-collapse navbar-responsive-collapse collapse" style="height: 0px;">

                    <div class="google_translate btn">
                        <p><a href="/logout">Logout</a></p>
                    </div>
                    <ul class="nav tabs">
                        <li><a href="/new">Request a Record</a></li>
                        <li><a href="/view_requests">All Requests</a></li>
                        <li><a href="/track">Track an Existing Request</a></li>
                        <li><a href="/report">Report</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                    <ul class="nav pull-right">
                    </ul>

            </div>
        </div>
    </div>
    <div id="container-fluid">


    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div id="exploreTitle" class="span8">
                    <h2>Explore <span class="badge">20</span> requests and counting</h2>

                    <p class="intro_text">NYC Open Gov makes every public records request available to the public,
                        including messages or documents uploaded by agency staff. By searching the reqeusts, you may
                        find the information you are interested in, which will save time for you and for
                        the Your agency name</p>
                </div>

                <div class="span4">
                    <a href="/new" class="btn btn-primary btn-large pull-right">Request new record</a>
                </div>
            </div>


            <button id="toggle" onclick="hideFilter()">Hide</button>

            <form id="all_requests_form" name="all_requests" action="/requests" method="GET">
                <div class="row-fluid" style="padding-bottom: 5%;">
                    <div class="span4" id="search_section">
                        <div class="well well-small" id="mobile-filter" style="padding-bottom: 6em;">

                            <h5>Search request text</h5>
                            <div>
                                <input class="span12" name="search_term" type="search" value=""
                                       placeholder="I'd like to find...">
                            </div>
                            <div class="row-fluid">
                                <!-- <h4 class="underline">ADVANCED FILTER</h4> -->

                                    <div class="span6" id="my_requests">
                                        <h5>My requests</h5>
                                        <div class="indent">
                                            <label class="checkbox">
                                                <input type="checkbox" ID="checkbox" name="mine_as_poc"
                                                       checked  />
                                                <em>&nbsp as Point of Contact</em>
                                                <br><br>
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" ID="checkbox" name="mine_as_helper"
                                                       checked  />
                                                <em>&nbsp as Helper</em>
                                            </label>
                                        </div>
                                    </div>

                                <div class="span6">
                                    <h5>Status</h5>

                                    <div class="indent">
                                        <label class="checkbox">
                                            <input type="checkbox" ID="checkbox" name="is_open" checked />
                                            <em class="open_style">Open</em>
                                        </label>

                                            <label class="checkbox">
                                                <input type="checkbox" ID="checkbox"  name="due_soon"
                                                       checked  />
                                                <em class="duesoon_style">Due Soon</em>
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" ID="checkbox" name="overdue"
                                                       checked  />
                                                <em class="overdue_style">Overdue</em>
                                            </label>

                                        <label class="checkbox">
                                            <input type="checkbox" ID="checkbox"  name="is_closed"  />
                                            <em class="closed_style">Closed</em>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <h5>Date received</h5>

                            <div class="control-group">
                                <input type="date"
                                       name="min_date_received"
                                       value="None"
                                       class="span12">
                                <input type="date"
                                       name="max_date_received"
                                       value="None"
                                       class="span12">
                            </div>

                                <h5>Due date</h5>
                                <div class="control-group">
                                    <input type="date"
                                           name="min_due_date"
                                           value="None"
                                           class="span12">
                                    <input type="date"
                                           name="max_due_date"
                                           value="None"
                                           class="span12">
                                </div>
                                <h5>Requester name</h5>
                                <div>
                                    <input class="span12" name="requester_name" type="search" placeholder="Enter name"
                                           value="">
                                </div>


                                <h5>Agency Name</h5>
                                <div class="control-group">
                                    <select name="departments_selected" class="selectpicker span12">



                                                <option>Commission on Human Rights</option>




                                                <option>Department of Education</option>




                                                <option>Department of Information Technology and Telecommunications</option>




                                                <option selected>Department of Records and Information Services</option>




                                                <option>Law Department</option>




                                                <option>Mayor&#39;s Office of Operations</option>




                                                <option>Mayor&#39;s Office of Technology and Innovation</option>




                                                <option>Office of Administrative Trials and Hearings</option>




                                                <option>NYC Emergency Management</option>




                                                <option>Office of the Chief Medical Examiner</option>




                                                <option>Office of the Mayor</option>



                                    </select>
                                </div>

                            <button class="btn btn-primary span12" style="margin-left: 0px;" type="submit"
                                    value="Submit">Find
                            </button>
                        </div>

                            <div class="row-fluid" id="export">
                                <p class="text-center">
                                    <a href="/export"> <i class="icon-download"></i> Export data</a>
                                </p>
                            </div>

                    </div>
                    <div class="span7">
                        <table width="100%" id="requests">
                            <thead id="headings">
                            <tr>
                                <th class="status"></th>
                                <th>
                                    <button class="btn btn-link sortable" type="submit"
                                            onclick="return insertInput('id');">#
                                    </button>
                                </th>
                                <th class="hide-mobile">
                                    <button class="btn btn-link sortable" type="submit"
                                            onclick="return insertInput('date_received');">Received
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link sortable" type="submit"
                                            onclick="return insertInput('text');">Request
                                    </button>
                                </th>
                                <th>Assigned Agency</th>
                                <th class="hide-mobile">Point of Contact</th>
                                <th>
                                    <button class="btn btn-link sortable" type="submit"
                                            onclick="return insertInput('due_date');">Due
                                    </button>
                                </th>

                                    <th class="hide-mobile">Requester</th>

                            </tr>
                            </thead>
                            <tbody>


                                    <tr class="clickable-row"
                                        onclick="window.location='/city/request/FOIL-2015-002-00015'">

                            <td class="status due soon">

                            </td>
                            <td>FOIL-2015-002-00015</td>
                            <td class="hide-mobile">Oct 23, 2015</td>
                            <td>

                                    <a href="/city/request/FOIL-2015-002-00015">



                                    <span style="background-color: #FB991B" class="label label-warning">due soon</span>

                                Police Report 288
                                </a>
                            </td>
                            <td>Department of Records and Information Services</td>
                            <td class="hide-mobile">Joel Castillo</td>
                            <td >Nov 02, 2015</td>

                                <td class="hide-mobile">N/A</td>

                            </tr>


                                    <tr class="clickable-row"
                                        onclick="window.location='/city/request/FOIL-2015-040-00005'">

                            <td class="status due soon">

                            </td>
                            <td>FOIL-2015-040-00005</td>
                            <td class="hide-mobile">Oct 23, 2015</td>
                            <td>

                                    <a href="/city/request/FOIL-2015-040-00005">



                                    <span style="background-color: #FB991B" class="label label-warning">due soon</span>

                                Incident Report 36
                                </a>
                            </td>
                            <td>Department of Records and Information Services</td>
                            <td class="hide-mobile">Haronil Estevez</td>
                            <td >Nov 02, 2015</td>

                                <td class="hide-mobile">N/A</td>

                            </tr>


                                    <tr class="clickable-row"
                                        onclick="window.location='/city/request/FOIL-2015-820-00001'">

                            <td class="status due soon">

                            </td>
                            <td>FOIL-2015-820-00001</td>
                            <td class="hide-mobile">Oct 23, 2015</td>
                            <td>

                                    <a href="/city/request/FOIL-2015-820-00001">



                                    <span style="background-color: #FB991B" class="label label-warning">due soon</span>

                                City Council meeting minutes 284
                                </a>
                            </td>
                            <td>Department of Records and Information Services</td>
                            <td class="hide-mobile">LaTonya Jones</td>
                            <td >Nov 02, 2015</td>

                                <td class="hide-mobile">N/A</td>

                            </tr>

                            </tbody>
                        </table>
                        <div class="pull-left pagination">
                            <ul>

                                <li>Showing 1 to 3 of 3 entries</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <script type="text/javascript">
        var sort_direction = 'asc';
        var sort_column = 'id';
        var page_number = 1;
        function insertInput(inputValue) {
            if (inputValue == sort_column) {
                if (sort_direction == 'asc') {
                    sort_direction = 'desc';
                }
                else {
                    sort_direction = 'asc';
                }
                hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = 'sort_direction';
                hiddenInput.value = sort_direction;
                document.getElementById('all_requests_form').appendChild(hiddenInput);
            }
            hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'sort_column';
            hiddenInput.value = inputValue;
            document.getElementById('all_requests_form').appendChild(hiddenInput);
            return true;
        }
        function pageNumber(numChange) {
            var new_num = page_number + numChange;
            hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'page_number';
            hiddenInput.value = new_num;
            document.getElementById('all_requests_form').appendChild(hiddenInput);
            return true;
        }


        var hidden = false;
        function hideFilter(){
            hidden = !hidden;
            if(hidden) {
                document.getElementById('mobile-filter').style.display = 'none';
                document.getElementById('toggle').innerHTML = "Show";
            } else {
                document.getElementById('mobile-filter').style.display = 'block';
                document.getElementById('toggle').innerHTML = "Hide";
            }

        }
    </script>

    </div>
    <div class="push"></div>
</div>
<!-- // Wrapper -->
<div class="iw_component" id="1422284559235">
    <div class="row">
        <footer>
            <div class="container">
                <div class="span9 footer-links">
                    <a href="http://www1.nyc.gov/nyc-resources/agencies.page">Directory of City Agencies</a>
                    <a href="http://www1.nyc.gov/home/contact-us.page">Contact NYC Government</a>
                    <a href="https://a127-ess.nyc.gov">City Employees</a>
                    <a href="http://www.nyc.gov/notifynyc">Notify NYC</a>
                    <a href="http://a856-citystore.nyc.gov/">CityStore</a>
                    <a href="http://www1.nyc.gov/connect/social-media.page">Stay Connected</a>
                    <a href="http://www1.nyc.gov/connect/applications.page">NYC Mobile Apps</a>
                    <a href="http://www1.nyc.gov/nyc-resources/nyc-maps.page">Maps</a>
                    <a href="http://www1.nyc.gov/nyc-resources/resident-toolkit.page">Resident Toolkit</a>
                </div>
                <div class="span3">
                    <span class="logo-nyc">NYC</span>

                    <form class="form-search" method="get" action="http://www1.nyc.gov/home/search/index.page">
                        <input placeholder="Search" class="input-search placeholder" name="search-terms" type="text"/>
                        <button class="ico-search">Search</button>
                    </form>
                    <div class="copyright">
                        <p>City of New York. 2015 All Rights Reserved,</p>

                        <p>NYC is a trademark and service mark of the City of New York</p>

                        <p><a href="http://www1.nyc.gov/home/privacy-policy.page" title="Privacy">Privacy Policy</a>.
                            <a href="http://www1.nyc.gov/home/terms-of-use.page" title="TOU">Terms of Use</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type="text/javascript" src="/static/js/plugins/jquery.placeholder.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/plugins/bootstrap.js"></script>


    <script type="text/javascript"
            src="/static/js/plugins/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/static/js/custom.bootstrap-select.js"></script>
    <script type="text/javascript"
            src="/static/js/plugins/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/date_picker.js"></script>
    <script type="text/javascript" src="/static/js/all_requests.js"></script>

<!-- used for the tutorial -->
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstro.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins/custom.bootstro.js') }}"></script>

<script>
$(document).ready(function(){
    bootstro.start('',{stopOnBackdropClick : false, stopOnEsc:false, items:
       [{selector:'#export',title:'Export',content:'The search results can also be exported.',placement:'top',finishButton:'<a class="btn" href="/city/tutorial/07"> «Previous</a> <a class="btn" href="/city/tutorial/09">Next »</a><br><br><a class="btn" href="/">Back to OpenRecords site</a>'}
       ]
    });
});
</script>
</body>
</html>
